---
name: Release

on:
  push:
    branches:
      - master
      - next
      - next-major
      - beta
      - alpha
      - '[0-9]+.[0-9]+.x'
      - '[0-9]+.x'

jobs:
  release:
    uses: semantic-release-action/typescript/.github/workflows/release.yml@v4
    with:
      test-node-versions: "['lts/*']"
    secrets:
      npm-token: ${{ secrets.NPM_TOKEN }}
